body {
  background-color: lightgrey;
  padding: 0; margin: 0;
  font-size: 90%;
  line-height: 1.2;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 50px 20%;
  border: 1px solid black;
  background-color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 3%;
  padding-top: 5%;
}
.form-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.input-container {
  width: 100%;
} .input-field {
  width: 100%;
  border: 1px solid #cccccc;
  min-height: 1.2rem;
  margin-top: 3%;
  border-radius: 3px;
} .error-message {
  color: red;
  font-size: 0.6rem; 
} .input-container:first-child {
  margin-right: 2%;
}

.products {
  display: flex;
  flex-direction: column;
  padding: 5%;
  justify-content: space-around;
} .product {
  display: flex;
} .product-thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
} .product-info {
  display: flex;
  flex-direction: column;
  padding: 5%;
} .product-info--row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} .product-info--item {
  margin-top: 5%;
}
.btn-group.btn {
  background-color: lightblue;
  border: 1px solid azure;
  color: black;
  cursor: pointer;
  padding: 5px;
}

.text-bold {
  font-weight: bold;
} .text-money {
  color: red;
}

.payment-summary {
  display: flex;
  flex-direction: column;
  padding: 5%;
  align-items: stretch;
} .payment-coupon {
  text-align: right;
  cursor: pointer;
  color: blue;
} .payment-coupon--form {
  padding: inherit;

} .payment-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} .payment-button {
  width: 100%;
  color: white;
  font-weight: bold;
  border-radius: 5%;
  border: 0;
}